.calc {
    background: rgb(124, 112, 134);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
.calc input {
    background: rgb(28, 5, 58);
    color: cornsilk;
    border-radius: 5px;
    padding: 5px;
}
#spTotal {
    background: rgb(0, 0, 0);
    color: rgb(115, 238, 0);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.calc button {
    background: rgb(73, 31, 97);
    color: wheat ;
    border-radius: 10px;
    padding: 5px;
}

.calc button:hover {
    background: rgb(211, 169, 235);
    color: rgb(0, 0, 0) ;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
