.calc {
    background: rgb(124, 112, 134);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 6px black;
}
.calc input {
    background: rgb(28, 5, 58);
    color: cornsilk;
    border-radius: 5px;
    padding: 5px;
}
.calc input:focus {
    background: rgb(255, 255, 255);
    color: rgb(132, 0, 255);
}
#spTotal {
    background: rgb(0, 0, 0);
    color: rgb(115, 238, 0);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.calc button {
    background: rgb(73, 31, 97);
    color: wheat ;
    border-radius: 10px;
    padding: 5px;
}

.calc button:hover {
    background: rgb(211, 169, 235);
    color: rgb(0, 0, 0) ;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
#spListaMes {
    text-align: start;
    border-style: dotted;
    border-color: aqua;
    border-width: 1px;
    border-radius: 4px;
    background: rgb(0, 0, 0);
    color: rgb(87, 247, 47);
}
.calcF {
    display: none;
}
#input-calcFin {
    display: none;
}
#input-calcFin:checked + .calc .calcF {
    display: block;
}
